{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Bomber task instructions
{% endblock %}

{% block content %}

<div id="instructions_div" class="instructions well well-1g">
<p>
  You will now participate in the "bomber task". On the following screen you will see 100 boxes. You may highligt as many boxes as you want in order to open them. For each box you open, you earn {{ Constants.points_per_box }} points.
  There is a bomb in one of the boxes. The bomb is placed at random, which means that it may be inside any box with an equal probability. If the bomb is inside one of the boxes you open, then you will get 0 points. Points have the
  same value as in the previous experiments.
</p>
</div>
    {% next_button %}

{% endblock %}
