{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<div id="instructions_div" class="instructions well well-1g">
  <h3>Introduction</h3>
  <p>
    In the following experiment, you will have the chance to earn money through investment in different lotteries. The experiment has two parts. First, there will be a test on your
    ability to calculate probabilities. Afterwards, there will be a number of choices over lotteries.<br><br>
    Some choices will affect yourself, while other choices will affect other participants in the experiment. The participants, which you affect with your choices, will not make choices
    that affect you. Each participant in the experiment is given an anonymous ID such as "Player 5". So if you make choices that affect Player 5, then Player 5 will not make choices that
    affect you.
  </p>
  <h3>The test</h3>
  <p>
    The first part of the experiment is a test of your ability to calculate probabilities. The test will take 30 minutes and features 20 questions. The test will not generally be
    what earns participants money in the experiment. However, one participant will be randomly selected to get 20 points for each correct answer on the test. This means that you
    have the potential to earn 400 points from the quiz.
  </p>
  <h4>Test feedback</h4>
  <p>
    Through the experiment, you will be shown information about the scores attained by different participants. This information will be presented in a graph such as the one in the
    picture below. The graph shows for each possible score, how many individuals got that score. Persons stacked on top of each other, represent individuals who got the same score. In
    the picture below, 0 participants got a score of 0-5, 2 participants got a score of 6, 2 participants got a score of 7, 6 participants got a score of 8 and so on.
  </p>
  <img src="{% static 'lottery_game/histogram_instr.png' %}"/ class="hist_img">

  <h3>The calculator</h3>
  <p>
    The test as well as some of the choice screens will feature a calculator. You can access the calculator by pressing the Hide/show calculator-button in the bottom right corner of the screen.
    The calculator can perform addition (+), subtraction (-), multiplication (*) and division (/). Exponents are done with double stars (**), so “2**3” will give you 2 raised to the power of 3.
    The calculator can also return factorials. This is done by typing “fact()”, so that “fact(x)” returns the factorial of x (commonly written as x!). If you do not know what a factorial is,
    then you will not need to use it.
  </p>
  <h3>Points and money</h3>
  <p>
    You will be able to earn points by investing in lotteries. Points are converted into money according
    to the following conversion:<br><br>
    1 point = {{ Constants.point_conversion }} DKK<br>
  </p>

  <h3>Help from assistants</h3>
  <p>
    If you at any point during the experiment have questions, please raise your hand and a lab assistant will be there to assist you. Assistants can help with comprehension of the instructions.
    They are not allowed to help you with performing calculations.
  </p>

  <h3>Ready to begin?</h3>
  <p>
    When you are confident that you understand the instructions, answer the control questions and press the next-button.
  </p>
</div>
<h3>Control questions</h3>
<p>
  Please answer the following questions. Each question is linked to the image shown above the question.
  You must answer each question correctly in order to continue. If you cannot answer the question
  please take an extra moment to think about it. If you still are not able to proceed, put up your hand and
  an lab assistant will come by to assist you.
</p>
<p class="above_text" class="above_text">
  Below you see a distribution of test scores.
</p>
<img src="{% static 'lottery_game/histogram1.png' %}" class="hist_img"/>
{% formfield player.control1 with label="How many participants got a higher score than the orange participant?" %}
{% formfield player.control2 with label="How many participants got a lower score than the orange participant?" %}
{% formfield player.control3 with label="How many participants got the same score as the orange participant?" %}
{% formfield player.control4 with label="The orange participant's score was above average" %}


<p class="above_text">
  Below you see a distribution of test scores.
</p>
<img src="{% static 'lottery_game/histogram2.png' %}" class="hist_img"/>
{% formfield player.control5 with label="The orange participant got a higher score than the blue participant" %}
{% formfield player.control6 with label="The orange participant did worse than all other participants" %}


{% next_button %}

{% endblock %}


{% block styles %}
<style>

  .above_text {
    padding-top: 30px;
  }
  .restr_img {
    padding-bottom: 10px;
  }
  .hist_img {
    padding-bottom: 10px;
    width: 100%;
  }
  #control_div {
    margin-top: 70px;
  }
  #control_div h2 {
    margin-bottom: 50px;
  }
  #control_button {
    margin-top: 40px;
    margin-bottom: 20px;
  }

</style>
{% endblock %}


{% block scripts %}

<script>


$(document).ready(function() {

  $(window).mousemove(function() {
    if ($(".input-group-addon").html() >= 0) {
      $("#lower_limit").html(
        $(".input-group-addon").html()
      );
      $("#upper_limit").html(10);
    }
    else if ($(".input-group-addon").html() > -10) {
      $("#lower_limit").html(0);
      $("#upper_limit").html(
        10 + parseFloat($(".input-group-addon").html())
      );
    }
    else if ($(".input-group-addon").html() == -10){
      $("#lower_limit").html(0);
      $("#upper_limit").html(0);
    }
  }
  );
})



</script>
{% endblock %}
