{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Restricted lottery choice
{% endblock %}

{% block content %}


  {% include 'lottery_game/Calculator.html' %}

  <input type='hidden' name='restrictedChoiceLoseMoney' id="restrictedChoiceLoseMoney">
  <input type='hidden' name='restrictedChoiceFirstOrderDominance' id="restrictedChoiceFirstOrderDominance">
  <input type='hidden' name='restrictedChoiceSecondOrderDominance' id="restrictedChoiceSecondOrderDominance">
  <input type='hidden' name='restrictedChoiceVariableRisk' id="restrictedChoiceVariableRisk">


  <div class="instructions well well-1g">
    <p>
      On this screen you will only make choices <strong style="text-decoration:underline; text-decoration-color:#30b3ff;">that affect yourself.</strong><br><br>
      <strong>Player {{ player.paternalist_id }}</strong> was given the chance to restrict your lottery choices on this screen. If {{ player.paternalist_id }} chose to remove lotteries, then
      they will not appear as a possible choice.<br><br>
      You will make four choices over lotteries <strong>(Choice 1, Choice 2, Choice 3, Choice 4)</strong>. One of these choices will be randomly selected to be your actual lottery choice. You have been given
      <strong>{{ Constants.endowment }}</strong> to invest in each lottery that you choose. At the end of the round, <strong>two regular six-sided dice (die 1 and die 2) will be thrown</strong>.
      Your payoff will depend on what these two dice show.<br> This means that if <strong>choice B</strong> is randomly chosen to be your actual lottery choice and you choose <strong>Lottery 2</strong>
      in <strong>choice B</strong> then lottery B will specify how your payoff depends on the dice.
    </p>
  </div>

  <div class="choicebox" id="firstChoiceDiv">
    <h1>Choice 1</h1><br>
  </div>
  <div class="choicebox" id="secondChoiceDiv">
    <h1>Choice 2</h1><br>
  </div>
  <div class="choicebox" id="thirdChoiceDiv">
    <h1>Choice 3</h1><br>
  </div>
  <div class="choicebox" id="fourthChoiceDiv">
    <h1>Choice 4</h1><br>
  </div>

  <form>
  </form>

  <div id="loseMoneyDiv">
    <table class="table" id="loseMoneyTable">
      <tr>
        <th>Lottery</th>
        <th>Condition</th>
        <th>Return</th>
        <th>Full description</th>
      </tr>
      <tr id="loseMoneyRowA">
        <td>A</td>
        {% if player.lottery11_placement == 1 %}
        <td>{{ lottery11_condition }}</td>
        <td>{{ lottery11_return }}</td>
        <td>{{ lottery11_description }}</td>
        {% else %}
        <td>{{ lottery12_condition }}</td>
        <td>{{ lottery12_return }}</td>
        <td>{{ lottery12_description }}</td>
        {% endif %}
      </tr>
      <tr id="loseMoneyRowB">
        <td>B</td>
        {% if player.lottery12_placement == 2 %}
        <td>{{ lottery12_condition }}</td>
        <td>{{ lottery12_return }}</td>
        <td>{{ lottery12_description }}</td>
        {% else %}
        <td>{{ lottery11_condition }}</td>
        <td>{{ lottery11_return }}</td>
        <td>{{ lottery11_description }}</td>
        {% endif %}
      </tr>
    </table>

    <p><strong>Which lottery would you like to choose?</strong></p>
    <div class="radio_div" id="loseInput">
      <form>
        {% if player.lottery11_placement == 1 and player.partnerRestrictionLoseMoney != "Lottery 1.1" %}
        <input type="radio" name="restrictedChoiceLoseMoney" value="" class="radio_choice" id="loseInputA">Lottery A<br>
        {% elif player.lottery12_placement == 1 and player.partnerRestrictionLoseMoney != "Lottery 1.2." %}
        <input type="radio" name="restrictedChoiceLoseMoney" value="" class="radio_choice" id="loseInputA">Lottery A<br>
        {% endif %}
        {% if player.lottery11_placement == 2 and player.partnerRestrictionLoseMoney != "Lottery 1.1" %}
        <input type="radio" name="restrictedChoiceLoseMoney" value="" class="radio_choice" id="loseInputB">Lottery B
        {% elif player.lottery12_placement == 2 and player.partnerRestrictionLoseMoney != "Lottery 1.2" %}
        <input type="radio" name="restrictedChoiceLoseMoney" value="" class="radio_choice" id="loseInputB">Lottery B
        {% endif %}
      </form>
    </div>

  </div>


  <div id="firstOrderDominanceDiv">
    <table class="table" id="firstOrderDominanceTable">
      <tr>
        <th>Lottery</th>
        <th>Condition</th>
        <th>Return</th>
        <th>Full description</th>
      </tr>
      <tr id="firstOrderDominanceRowA">
        <td>A</td>
        {% if player.lottery21_placement == 1 %}
        <td>{{ lottery21_condition }}</td>
        <td>{{ lottery21_return }}</td>
        <td>{{ lottery21_description }}</td>
        {% elif player.lottery22_placement == 1 %}
        <td>{{ lottery22_condition }}</td>
        <td>{{ lottery22_return }}</td>
        <td>{{ lottery22_description }}</td>
        {% elif player.lottery23_placement == 1 %}
        <td>{{ lottery23_condition }}</td>
        <td>{{ lottery23_return }}</td>
        <td>{{ lottery23_description }}</td>
        {% endif %}
      </tr>
      <tr id="firstOrderDominanceRowB">
        <td>B</td>
        {% if player.lottery21_placement == 2 %}
        <td>{{ lottery21_condition }}</td>
        <td>{{ lottery21_return }}</td>
        <td>{{ lottery21_description }}</td>
        {% elif player.lottery22_placement == 2 %}
        <td>{{ lottery22_condition }}</td>
        <td>{{ lottery22_return }}</td>
        <td>{{ lottery22_description }}</td>
        {% elif player.lottery23_placement == 2 %}
        <td>{{ lottery23_condition }}</td>
        <td>{{ lottery23_return }}</td>
        <td>{{ lottery23_description }}</td>
        {% endif %}
      </tr>
    </table>

    <p><strong>Which lottery would you like to choose?</strong></p>
    <div class="radio_div" id="firstInput">
      <form>
        {% if player.lottery21_placement == 1 and player.partnerRestrictionFirstOrderDominance != "Lottery 2.1" %}
        <input type="radio" name="restrictedChoiceFirstOrderDominance" value="" class="radio_choice" id="firstInputA">Lottery A<br>
        {% elif player.lottery22_placement == 1 and player.partnerRestrictionFirstOrderDominance != "Lottery 2.2" %}
        <input type="radio" name="restrictedChoiceFirstOrderDominance" value="" class="radio_choice" id="firstInputA">Lottery A<br>
        {% elif player.lottery23_placement == 1 and player.partnerRestrictionFirstOrderDominance != "Lottery 2.3" %}
        <input type="radio" name="restrictedChoiceFirstOrderDominance" value="" class="radio_choice" id="firstInputA">Lottery A<br>
        {% endif %}
        {% if player.lottery21_placement == 2 and player.partnerRestrictionFirstOrderDominance != "Lottery 2.1" %}
        <input type="radio" name="restrictedChoiceFirstOrderDominance" value="" class="radio_choice" id="firstInputB">Lottery B
        {% elif player.lottery22_placement == 2 and player.partnerRestrictionFirstOrderDominance != "Lottery 2.2" %}
        <input type="radio" name="restrictedChoiceFirstOrderDominance" value="" class="radio_choice" id="firstInputB">Lottery B
        {% elif player.lottery23_placement == 2 and player.partnerRestrictionFirstOrderDominance != "Lottery 2.3" %}
        <input type="radio" name="restrictedChoiceFirstOrderDominance" value="" class="radio_choice" id="firstInputB">Lottery B
        {% endif %}
      </form>
    </div>
  </div>

  <div id="secondOrderDominanceDiv">
    <table class="table" id="secondOrderDominanceTable">
      <tr>
        <th>Lottery</th>
        <th>Condition</th>
        <th>Return</th>
        <th>Full description</th>
      </tr>
      <tr id="secondOrderDominanceRowA">
        <td>A</td>
        {% if player.lottery31_placement == 1 %}
        <td>{{ lottery31_condition }}</td>
        <td>{{ lottery31_return }}</td>
        <td>{{ lottery31_description }}</td>
        {% else %}
        <td>{{ lottery32_condition }}</td>
        <td>{{ lottery32_return }}</td>
        <td>{{ lottery32_description }}</td>
        {% endif %}
      </tr>
      <tr id="secondOrderDominanceRowB">
        <td>B</td>
        {% if player.lottery31_placement == 2 %}
        <td>{{ lottery31_condition }}</td>
        <td>{{ lottery31_return }}</td>
        <td>{{ lottery31_description }}</td>
        {% else %}
        <td>{{ lottery32_condition }}</td>
        <td>{{ lottery32_return }}</td>
        <td>{{ lottery32_description }}</td>
        {% endif %}
      </tr>
    </table>

    <p><strong>Which lottery would you like to choose?</strong></p>
    <div class="radio_div" id="secondInput">
      <form>
        {% if player.lottery31_placement == 1 and player.partnerRestrictionSecondOrderDominance != "Lottery 3.1" %}
        <input type="radio" name="unrestrictedChoiceSecondOrderDominance" value="" class="radio_choice" id="secondInputA">Lottery A<br>
        {% elif player.lottery32_placement == 1 and player.partnerRestrictionSecondOrderDominance != "Lottery 3.2" %}
        <input type="radio" name="unrestrictedChoiceSecondOrderDominance" value="" class="radio_choice" id="secondInputA">Lottery A<br>
        {% endif %}
        {% if player.lottery31_placement == 2 and player.partnerRestrictionSecondOrderDominance != "Lottery 3.1" %}
        <input type="radio" name="unrestrictedChoiceSecondOrderDominance" value="" class="radio_choice" id="secondInputB">Lottery B
        {% elif player.lottery32_placement == 2 and player.partnerRestrictionSecondOrderDominance != "Lottery 3.2" %}
        <input type="radio" name="unrestrictedChoiceSecondOrderDominance" value="" class="radio_choice" id="secondInputB">Lottery B
        {% endif %}
      </form>
    </div>
  </div>


  <div id="variableRiskDiv">
    <table class="table" id="variableRiskTable">
      <tr>
        <th>Lottery</th>
        <th>Condition</th>
        <th>Return</th>
        <th>Full description</th>
      </tr>
      <tr id="variableRiskRowA">
        <td>A</td>
        {% if player.lottery41_placement == 1 %}
        <td>{{ lottery41_condition }}</td>
        <td>{{ lottery41_return }}</td>
        <td>{{ lottery41_description }}</td>
        {% elif player.lottery42_placement == 1 %}
        <td>{{ lottery42_condition }}</td>
        <td>{{ lottery42_return }}</td>
        <td>{{ lottery42_description }}</td>
        {% elif player.lottery43_placement == 1 %}
        <td>{{ lottery43_condition }}</td>
        <td>{{ lottery43_return }}</td>
        <td>{{ lottery43_description }}</td>
        {% endif %}
      </tr>
      <tr id="variableRiskRowB">
        <td>B</td>
        {% if player.lottery41_placement == 2 %}
        <td>{{ lottery41_condition }}</td>
        <td>{{ lottery41_return }}</td>
        <td>{{ lottery41_description }}</td>
        {% elif player.lottery42_placement == 2 %}
        <td>{{ lottery42_condition }}</td>
        <td>{{ lottery42_return }}</td>
        <td>{{ lottery42_description }}</td>
        {% elif player.lottery43_placement == 2 %}
        <td>{{ lottery43_condition }}</td>
        <td>{{ lottery43_return }}</td>
        <td>{{ lottery43_description }}</td>
        {% endif %}
      </tr>
    </table>

    <p><strong>Which lottery would you like to choose?</strong></p>
    <div class="radio_div" id="variableInput">
      <form>
        {% if player.lottery41_placement == 1 and player.partnerRestrictionVariableRisk != "Lottery 4.1" %}
        <input type="radio" name="unrestrictedChoiceVariableRisk" value="" class="radio_choice" id="variableInputA">Lottery A<br>
        {% elif player.lottery42_placement == 1 and player.partnerRestrictionVariableRisk != "Lottery 4.2" %}
        <input type="radio" name="unrestrictedChoiceVariableRisk" value="" class="radio_choice" id="variableInputA">Lottery A<br>
        {% elif player.lottery43_placement == 1 and player.partnerRestrictionVariableRisk != "Lottery 4.3" %}
        <input type="radio" name="unrestrictedChoiceVariableRisk" value="" class="radio_choice" id="variableInputA">Lottery A<br>
        {% endif %}
        {% if player.lottery41_placement == 2 and player.partnerRestrictionVariableRisk != "Lottery 4.1" %}
        <input type="radio" name="unrestrictedChoiceVariableRisk" value="" class="radio_choice" id="variableInputB">Lottery B
        {% elif player.lottery42_placement == 2 and player.partnerRestrictionVariableRisk != "Lottery 4.2" %}
        <input type="radio" name="unrestrictedChoiceVariableRisk" value="" class="radio_choice" id="variableInputB">Lottery B
        {% elif player.lottery43_placement == 2 and player.partnerRestrictionVariableRisk != "Lottery 4.3" %}
        <input type="radio" name="unrestrictedChoiceVariableRisk" value="" class="radio_choice" id="variableInputB">Lottery B
        {% endif %}
      </form>
    </div>
  </div>

  <div id="next_button_div"
    {% next_button %}
  </div>

<p id="please_text">Please make a selection for each of the above choices.</p>

{% block style %}

<style type="text/css">


  .radio_div {
    font-weight: bold;
    line-height: 25px;
    margin-left: 30px;
  }

  .title_button {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .choicebox {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-color: #30b3ff;
    border-style: solid;
    border-width: thick;
    border-right-style: hidden;
    border-bottom-style: hidden;
    border-top-style: hidden;
  }

</style>


{% endblock %}

{% block script %}

<script>

  var lottery11_placement = {{ player.lottery11_placement|json }}
  var lottery12_placement = {{ player.lottery12_placement|json }}
  var lottery21_placement = {{ player.lottery21_placement|json }}
  var lottery22_placement = {{ player.lottery22_placement|json }}
  var lottery23_placement = {{ player.lottery23_placement|json }}
  var lottery31_placement = {{ player.lottery31_placement|json }}
  var lottery32_placement = {{ player.lottery32_placement|json }}
  var lottery41_placement = {{ player.lottery41_placement|json }}
  var lottery42_placement = {{ player.lottery42_placement|json }}
  var lottery43_placement = {{ player.lottery43_placement|json }}

  var first_choice = {{ player.first_choice|json }}
  var second_choice = {{ player.second_choice|json }}
  var third_choice = {{ player.third_choice|json }}
  var fourth_choice = {{ player.fourth_choice|json }}

  var choice_types = ['loseMoney', 'firstOrderDominance', 'secondOrderDominance', 'variableRisk']


  $('#next_button_div').hide();

  // Set placement of lotteries
  for (i = 0; i < 4; i++) {
    if (choice_types[i] == first_choice) {
      $('#'+choice_types[i]+'Div').appendTo('#firstChoiceDiv');
    }
    if (choice_types[i] == second_choice) {
      $('#'+choice_types[i]+'Div').appendTo('#secondChoiceDiv');
    }
    if (choice_types[i] == third_choice) {
      $('#'+choice_types[i]+'Div').appendTo('#thirdChoiceDiv');
    }
    if (choice_types[i] == fourth_choice) {
      $('#'+choice_types[i]+'Div').appendTo('#fourthChoiceDiv');
    }
  }

  $('#loseInputA').on('change', function() {
    $('#loseMoneyRowA').css('font-weight', 'bold');
    $('#loseMoneyRowB').css('font-weight', 'normal');
    if (lottery11_placement == 1) {
      $('#restrictedChoiceLoseMoney').val('Lottery 1.1');
    }
    else if (lottery12_placement == 1) {
      $('#restrictedChoiceLoseMoney').val('Lottery 1.2')
    }
  });
  $('#loseInputB').on('change', function() {
    $('#loseMoneyRowB').css('font-weight', 'bold');
    $('#loseMoneyRowA').css('font-weight', 'normal');
    if (lottery11_placement == 2) {
      $('#restrictedChoiceLoseMoney').val('Lottery 1.1');
    }
    else if (lottery12_placement == 2) {
      $('#restrictedChoiceLoseMoney').val('Lottery 1.2')
    }
  });

  $('#firstInputA').on('change', function() {
    $('#firstOrderDominanceRowA').css('font-weight', 'bold');
    $('#firstOrderDominanceRowB').css('font-weight', 'normal');
    if (lottery21_placement == 1) {
      $('#restrictedChoiceFirstOrderDominance').val('Lottery 2.1');
    }
    else if (lottery22_placement == 1) {
      $('#restrictedChoiceFirstOrderDominance').val('Lottery 2.2')
    }
    else if (lottery23_placement == 1) {
      $('#restrictedChoiceFirstOrderDominance').val('Lottery 2.3')
    }
  });
  $('#firstInputB').on('change', function() {
    $('#firstOrderDominanceRowB').css('font-weight', 'bold');
    $('#firstOrderDominanceRowA').css('font-weight', 'normal');
    if (lottery21_placement == 2) {
      $('#restrictedChoiceFirstOrderDominance').val('Lottery 2.1');
    }
    else if (lottery22_placement == 2) {
      $('#restrictedChoiceFirstOrderDominance').val('Lottery 2.2')
    }
    else if (lottery23_placement == 2) {
      $('#restrictedChoiceFirstOrderDominance').val('Lottery 2.3')
    }
  });

  $('#secondInputA').on('change', function() {
    $('#secondOrderDominanceRowA').css('font-weight', 'bold');
    $('#secondOrderDominanceRowB').css('font-weight', 'normal');
    if (lottery31_placement == 1) {
      $('#restrictedChoiceSecondOrderDominance').val('Lottery 3.1');
    }
    else if (lottery32_placement == 1) {
      $('#restrictedChoiceSecondOrderDominance').val('Lottery 3.2')
    }
  });
  $('#secondInputB').on('change', function() {
    $('#secondOrderDominanceRowB').css('font-weight', 'bold');
    $('#secondOrderDominanceRowA').css('font-weight', 'normal');
    if (lottery31_placement == 2) {
      $('#restrictedChoiceSecondOrderDominance').val('Lottery 3.1');
    }
    else if (lottery32_placement == 2) {
      $('#restrictedChoiceSecondOrderDominance').val('Lottery 3.2')
    }
  });

  $('#variableInputA').on('change', function() {
    $('#variableRiskRowA').css('font-weight', 'bold');
    $('#variableRiskRowB').css('font-weight', 'normal');
    if (lottery41_placement == 1) {
      $('#restrictedChoiceVariableRisk').val('Lottery 4.1');
    }
    else if (lottery42_placement == 1) {
      $('#restrictedChoiceVariableRisk').val('Lottery 4.2')
    }
    else if (lottery43_placement == 1) {
      $('#restrictedChoiceVariableRisk').val('Lottery 4.3')
    }
  });
  $('#variableInputB').on('change', function() {
    $('#variableRiskRowB').css('font-weight', 'bold');
    $('#variableRiskRowA').css('font-weight', 'normal');
    if (lottery41_placement == 2) {
      $('#restrictedChoiceVariableRisk').val('Lottery 4.1');
    }
    else if (lottery42_placement == 2) {
      $('#restrictedChoiceVariableRisk').val('Lottery 4.2')
    }
    else if (lottery43_placement == 2) {
      $('#restrictedChoiceVariableRisk').val('Lottery 4.3')
    }
  });

  $('.radio_choice').on('change', function() {
    var count = 0;
    var inputList = ['#unrestrictedChoiceLoseMoney', '#unrestrictedChoiceFirstOrderDominance', '#unrestrictedChoiceSecondOrderDominance', '#unrestrictedChoiceVariableRisk']
    for (i = 0; i < 4; i++) {
      if ($(inputList[i]).val() != "") {
        count += 1;
      }
    }
    if (count == 4) {
      $('#next_button_div').show();
      $('#please_text').hide();
    }
  });

  // Change side colors of choiceboxes
  $('#firstChoiceDiv').on('change', function() {
    if (first_choice == "loseMoney" & $('#restrictedChoiceLoseMoney').val() != "") {
      $('#firstChoiceDiv').css('border-color', 'grey');
    }
    else if (first_choice == "firstOrderDominance" & $('#restrictedChoiceFirstOrderDominance').val() != "") {
      $('#firstChoiceDiv').css('border-color', 'grey');
    }
    else if (first_choice == "secondOrderDominance" & $('#restrictedChoiceSecondOrderDominance').val() != "") {
      $('#firstChoiceDiv').css('border-color', 'grey');
    }
    else if (first_choice == "variableRisk" & $('#restrictedChoiceVariableRisk').val() != "") {
      $('#firstChoiceDiv').css('border-color', 'grey');
    }
  });
  $('#secondChoiceDiv').on('change', function() {
    if (second_choice == "loseMoney" & $('#restrictedChoiceLoseMoney').val() != "") {
      $('#secondChoiceDiv').css('border-color', 'grey');
    }
    else if (second_choice == "firstOrderDominance" & $('#restrictedChoiceFirstOrderDominance').val() != "") {
      $('#secondChoiceDiv').css('border-color', 'grey');
    }
    else if (second_choice == "secondOrderDominance" & $('#restrictedChoiceSecondOrderDominance').val() != "") {
      $('#secondChoiceDiv').css('border-color', 'grey');
    }
    else if (second_choice == "variableRisk" & $('#restrictedChoiceVariableRisk').val() != "") {
      $('#secondChoiceDiv').css('border-color', 'grey');
    }
  });
  $('#thirdChoiceDiv').on('change', function() {
    if (third_choice == "loseMoney" & $('#restrictedChoiceLoseMoney').val() != "") {
      $('#thirdChoiceDiv').css('border-color', 'grey');
    }
    else if (third_choice == "firstOrderDominance" & $('#restrictedChoiceFirstOrderDominance').val() != "") {
      $('#thirdChoiceDiv').css('border-color', 'grey');
    }
    else if (third_choice == "secondOrderDominance" & $('#restrictedChoiceSecondOrderDominance').val() != "") {
      $('#thirdChoiceDiv').css('border-color', 'grey');
    }
    else if (third_choice == "variableRisk" & $('#restrictedChoiceVariableRisk').val() != "") {
      $('#thirdChoiceDiv').css('border-color', 'grey');
    }
  });
  $('#fourthChoiceDiv').on('change', function() {
    if (fourth_choice == "loseMoney" & $('#restrictedChoiceLoseMoney').val() != "") {
      $('#fourthChoiceDiv').css('border-color', 'grey');
    }
    else if (fourth_choice == "firstOrderDominance" & $('#restrictedChoiceFirstOrderDominance').val() != "") {
      $('#fourthChoiceDiv').css('border-color', 'grey');
    }
    else if (fourth_choice == "secondOrderDominance" & $('#restrictedChoiceSecondOrderDominance').val() != "") {
      $('#fourthChoiceDiv').css('border-color', 'grey');
    }
    else if (fourth_choice == "variableRisk" & $('#restrictedChoiceVariableRisk').val() != "") {
      $('#fourthChoiceDiv').css('border-color', 'grey');
    }
  });

</script>


{% endblock %}

{% endblock %}
