{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Restriction choice
{% endblock %}

{% block content %}


  {% include 'lottery_game/Calculator.html' %}

  <input type='hidden' name='restrictionChoiceLoseMoney' id="restrictionChoiceLoseMoney">
  <input type='hidden' name='restrictionChoiceFirstOrderDominance' id="restrictionChoiceFirstOrderDominance">
  <input type='hidden' name='restrictionChoiceSecondOrderDominance' id="restrictionChoiceSecondOrderDominance">
  <input type='hidden' name='restrictionChoiceVariableRisk' id="restrictionChoiceVariableRisk">

  <div class="instructions well well-1g">
    <p>
      On this screen you will make choices that affect <strong>Player {{ player.partner_id }}</strong>.
      Player {{ player.partner_id }} has been given <strong>{{ Constants.endowment }}</strong> to invest in one of the lotteries in the table below. The lotteries are the same as those you have seen
      on the previous screen{% if player.round_number != 1 %}s{% endif %}. If you wish, you may remove lotteries, so that Player {{ player.partner_id }} will be unable to choose those lotteries.
      Note that Player {{ player.partner_id }} will not make any choices that affect you in this experiment.<br><br>

      Below you see information regarding {% if player.treatment == 'full' %}your own score, as well as {% endif %}Player {{ player.partner_id }}'s score.<br><br>
    </p>
    <table id="feedback_table">
      <tr>
        <td>Number of questions</td>
        <td class="number">{{ Constants.num_questions }}</td>
      </tr>
      {% if player.treatment == "full" %}
      <tr>
        <td><strong>Your score</strong></td>
        <td class="number"><strong>{{ player.test_score }}</strong></td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Player {{ player.partner_id }}'s score</strong></td>
        <td class="number"><strong>{{ player.partner_test_score }}</strong></td>
      </tr>
    </table>

    <p>
      <br>In the picture below it is shown for each possible score, how many participants got that score. Individuals on top of each other got the same score.
      {% if player.treatment == "full" %}<span style="color:blue; font-weight: bold;">blue player is you</span>. {% endif %}The <span style="color:orange; font-weight: bold;">orange player
      is Player {{ player.partner_id }}</span>.
    </p>
    <table id="histogram">
    </table>

  </div>

    <div class="choicebox" id="firstChoiceDiv">
      <h1>Choice 1</h1><br>
    </div>
    <div class="choicebox" id="secondChoiceDiv">
      <h1>Choice 2</h1><br>
    </div>
    <div class="choicebox" id="thirdChoiceDiv">
      <h1>Choice 3</h1><br>
    </div>
    <div class="choicebox" id="fourthChoiceDiv">
      <h1>Choice 4</h1><br>
    </div>

    <form>
    </form>

    <div id="loseMoneyDiv">
      <table class="table" id="loseMoneyTable">
        <tr>
          <th>Lottery</th>
          <th>Condition</th>
          <th>Return</th>
          <th>Full description</th>
        </tr>
        <tr id="loseMoneyRowA">
          <td>A</td>
          {% if player.lottery11_placement == 1 %}
          <td>{{ lottery11_condition }}</td>
          <td>{{ lottery11_return }}</td>
          <td>{{ lottery11_description }}</td>
          {% else %}
          <td>{{ lottery12_condition }}</td>
          <td>{{ lottery12_return }}</td>
          <td>{{ lottery12_description }}</td>
          {% endif %}
        </tr>
        <tr id="loseMoneyRowB">
          <td>B</td>
          {% if player.lottery12_placement == 2 %}
          <td>{{ lottery12_condition }}</td>
          <td>{{ lottery12_return }}</td>
          <td>{{ lottery12_description }}</td>
          {% else %}
          <td>{{ lottery11_condition }}</td>
          <td>{{ lottery11_return }}</td>
          <td>{{ lottery11_description }}</td>
          {% endif %}
        </tr>
      </table>

      <p><strong>Would you like to remove any of the lotteries?</strong></p>
      <div class="radio_div" id="loseInput">
        <form>
          <input type="radio" name="restrictionChoiceLoseMoney" value="" class="radio_choice" id="loseInputA">Lottery A<br>
          <input type="radio" name="restrictionChoiceLoseMoney" value="" class="radio_choice" id="loseInputB">Lottery B<br>
          <input type="radio" name="restrictionChoiceLoseMoney" value="" class="radio_choice" id="loseInputNon">Don't remove any lotteries
        </form>
      </div>

    </div>


    <div id="firstOrderDominanceDiv">
      <table class="table" id="firstOrderDominanceTable">
        <tr>
          <th>Lottery</th>
          <th>Condition</th>
          <th>Return</th>
          <th>Full description</th>
        </tr>
        <tr id="firstOrderDominanceRowA">
          <td>A</td>
          {% if player.lottery21_placement == 1 %}
          <td>{{ lottery21_condition }}</td>
          <td>{{ lottery21_return }}</td>
          <td>{{ lottery21_description }}</td>
          {% elif player.lottery22_placement == 1 %}
          <td>{{ lottery22_condition }}</td>
          <td>{{ lottery22_return }}</td>
          <td>{{ lottery22_description }}</td>
          {% elif player.lottery23_placement == 1 %}
          <td>{{ lottery23_condition }}</td>
          <td>{{ lottery23_return }}</td>
          <td>{{ lottery23_description }}</td>
          {% endif %}
        </tr>
        <tr id="firstOrderDominanceRowB">
          <td>B</td>
          {% if player.lottery21_placement == 2 %}
          <td>{{ lottery21_condition }}</td>
          <td>{{ lottery21_return }}</td>
          <td>{{ lottery21_description }}</td>
          {% elif player.lottery22_placement == 2 %}
          <td>{{ lottery22_condition }}</td>
          <td>{{ lottery22_return }}</td>
          <td>{{ lottery22_description }}</td>
          {% elif player.lottery23_placement == 2 %}
          <td>{{ lottery23_condition }}</td>
          <td>{{ lottery23_return }}</td>
          <td>{{ lottery23_description }}</td>
          {% endif %}
        </tr>
      </table>

      <p><strong>Would you like ot remove any of the lotteries?</strong></p>
      <div class="radio_div" id="firstInput">
        <form>
          <input type="radio" name="restrictionChoiceFirstOrderDominance" value="" class="radio_choice" id="firstInputA">Remove Lottery A<br>
          <input type="radio" name="restrictionChoiceFirstOrderDominance" value="" class="radio_choice" id="firstInputB">Remove Lottery B<br>
          <input type="radio" name="restrictionChoiceFirstOrderDominance" value="" class="radio_choice" id="firstInputNon">Don't remove any lotteries
        </form>
      </div>
    </div>

    <div id="secondOrderDominanceDiv">
      <table class="table" id="secondOrderDominanceTable">
        <tr>
          <th>Lottery</th>
          <th>Condition</th>
          <th>Return</th>
          <th>Full description</th>
        </tr>
        <tr id="secondOrderDominanceRowA">
          <td>A</td>
          {% if player.lottery31_placement == 1 %}
          <td>{{ lottery31_condition }}</td>
          <td>{{ lottery31_return }}</td>
          <td>{{ lottery31_description }}</td>
          {% else %}
          <td>{{ lottery32_condition }}</td>
          <td>{{ lottery32_return }}</td>
          <td>{{ lottery32_description }}</td>
          {% endif %}
        </tr>
        <tr id="secondOrderDominanceRowB">
          <td>B</td>
          {% if player.lottery31_placement == 2 %}
          <td>{{ lottery31_condition }}</td>
          <td>{{ lottery31_return }}</td>
          <td>{{ lottery31_description }}</td>
          {% else %}
          <td>{{ lottery32_condition }}</td>
          <td>{{ lottery32_return }}</td>
          <td>{{ lottery32_description }}</td>
          {% endif %}
        </tr>
      </table>

      <p><strong>Would you like to remove any of the lotteries?</strong></p>
      <div class="radio_div" id="secondInput">
        <form>
          <input type="radio" name="restrictionChoiceSecondOrderDominance" value="" class="radio_choice" id="secondInputA">Lottery A<br>
          <input type="radio" name="restrictionChoiceSecondOrderDominance" value="" class="radio_choice" id="secondInputB">Lottery B<br>
          <input type="radio" name="restrictionChoiceSecondOrderDominance" value="" class="radio_choice" id="secondInputNon">Don't remove any lotteries<br>
        </form>
      </div>
    </div>


    <div id="variableRiskDiv">
      <table class="table" id="variableRiskTable">
        <tr>
          <th>Lottery</th>
          <th>Condition</th>
          <th>Return</th>
          <th>Full description</th>
        </tr>
        <tr id="variableRiskRowA">
          <td>A</td>
          {% if player.lottery41_placement == 1 %}
          <td>{{ lottery41_condition }}</td>
          <td>{{ lottery41_return }}</td>
          <td>{{ lottery41_description }}</td>
          {% elif player.lottery42_placement == 1 %}
          <td>{{ lottery42_condition }}</td>
          <td>{{ lottery42_return }}</td>
          <td>{{ lottery42_description }}</td>
          {% elif player.lottery43_placement == 1 %}
          <td>{{ lottery43_condition }}</td>
          <td>{{ lottery43_return }}</td>
          <td>{{ lottery43_description }}</td>
          {% endif %}
        </tr>
        <tr id="variableRiskRowB">
          <td>B</td>
          {% if player.lottery41_placement == 2 %}
          <td>{{ lottery41_condition }}</td>
          <td>{{ lottery41_return }}</td>
          <td>{{ lottery41_description }}</td>
          {% elif player.lottery42_placement == 2 %}
          <td>{{ lottery42_condition }}</td>
          <td>{{ lottery42_return }}</td>
          <td>{{ lottery42_description }}</td>
          {% elif player.lottery43_placement == 2 %}
          <td>{{ lottery43_condition }}</td>
          <td>{{ lottery43_return }}</td>
          <td>{{ lottery43_description }}</td>
          {% endif %}
        </tr>
      </table>

      <p><strong>Would you like to remove any of the lotteries?</strong></p>
      <div class="radio_div" id="variableInput">
        <form>
          <input type="radio" name="restrictionChoiceVariableRisk" value="" class="radio_choice" id="variableInputA">Lottery A<br>
          <input type="radio" name="restrictionChoiceVariableRisk" value="" class="radio_choice" id="variableInputB">Lottery B<br>
          <input type="radio" name="restrictionChoiceVariableRisk" value="" class="radio_choice" id="variableInputNon">Don't remove any lotteries
        </form>
      </div>
    </div>

    <div id="next_button_div">
      {% next_button %}
    </div>

  <p id="please_text">Please make a selection for each of the above choices.</p>


{% block style %}
<style type="text/css">

#feedback_table {
  width: 40%;
  margin-left: 30%;
  font-size: 20px;
  border-collapse: separate;
  border-spacing: 10px;
  border: 1px solid black;
}

  #check {
    margin-left: 30px;
    font-weight: bold;
    line-height: 27px;
  }
  .number {
    text-align: right;
  }

  #histogram {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: white;
  }
  .clipart_man {
    width: 100%;
    height: 90px;
    background-color: white;
    padding: 2px;
  }

  .radio_div {
    font-weight: bold;
    line-height: 25px;
    margin-left: 30px;
  }

  .title_button {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .choicebox {
    background-color: #FAF2AD;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-style: outset;
    border-width: thin;
  }

</style>


{% endblock %}

{% block script %}

<script>

// Histogram

var group_avg = {{ subsession.average_score|json }}.toFixed(2);

var scores_list = {{ player_scores }}
var partner_score = {{ player.partner_test_score|json }}
var treatment = {{ player.treatment|json }}

var player_score = {{ player.test_score|json }}
var num_questions = {{ Constants.num_questions|json }}+1

var freq_list = []

$('#avg').text(group_avg)

for (i = 0; i < 21; i++) {
  numOccur = $.grep(scores_list, function (elem) {
    return elem == i
  }).length;
  freq_list.push(numOccur)
}
var highest_freq = Math.max.apply(Math, freq_list);

for (i = 0; i < highest_freq; i++) {
  $('#histogram').prepend('<tr id="row'+i+'"></tr>');
  for (j = 0; j < 21; j++) {
    if (freq_list[j] <= i) {
      $('#row'+i).append('<td id="cell'+i+'-'+j+'"><img src="{% static "lottery_game/blank.png" %}" class="clipart_man"></td>');
    }
    else {
      $('#row'+i).append('<td id="cell'+i+'-'+j+'"><img src="{% static "lottery_game/clipart_man.png" %}" class="clipart_man"></td>');
    }
  }
}

for (i = 0; i < 21; i++) {
  if (i == partner_score) {
    $('#cell0-'+i+' img').attr('src', '{% static "lottery_game/clipart_man_orange.png" %}');
  }
}
if (treatment == "full") {
  if (player_score != partner_score) {
    for (i = 0; i < 21; i++) {
      if (i == player_score) {
        $('#cell0-'+i+' img').attr('src', '{% static "lottery_game/clipart_man_blue.png" %}');
      }
    }
  }
  else {
    for (i = 0; i < 21; i++) {
      if (i == player_score) {
        $('#cell1-'+i+' img').attr('src', '{% static "lottery_game/clipart_man_blue.png" %}')
      }
    }
  }
}

$('#histogram').append('<tr id="axis"></tr>');
for (i = 0; i < 21; i++) {
  $('#axis').append('<td>'+i+'</td>');
}
$('#histogram').append('<tr id="axis_title"></tr>');
$('#axis_title').append('<td colspan="21">Number of correct answers</td>');

//Set points info


function checkLessPlayer(number) {
  return number < player_score
}
function checkSamePlayer(number) {
  return number == player_score
}
function checkMorePlayer(number) {
  return number > player_score
}

$('#less_self').append(function(e) {
  var less = scores_list.filter(checkLessPlayer);
   return less.length;
});
$('#same_self').append(function(e) {
  var same = scores_list.filter(checkSamePlayer);
  return same.length -1;
});
$('#more_self').append(function(e) {
  var more = scores_list.filter(checkMorePlayer);
  return more.length;
})

function checkLessPartner(number) {
  return number < partner_test_score
}
function checkSamePartner(number) {
  return number == partner_test_score
}
function checkMorePartner(number) {
  return number > partner_test_score
}

$('#less_partner').append(function(e) {
  var less = scores_list.filter(checkLessPartner);
   return less.length;
});
$('#same_partner').append(function(e) {
  var same = scores_list.filter(checkSamePartner);
  return same.length -1;
});
$('#more_partner').append(function(e) {
  var more = scores_list.filter(checkMorePartner);
  return more.length;
})


// LOTTERIES INTERACTION
var lottery11_placement = {{ player.lottery11_placement|json }}
var lottery12_placement = {{ player.lottery12_placement|json }}
var lottery21_placement = {{ player.lottery21_placement|json }}
var lottery22_placement = {{ player.lottery22_placement|json }}
var lottery23_placement = {{ player.lottery23_placement|json }}
var lottery31_placement = {{ player.lottery31_placement|json }}
var lottery32_placement = {{ player.lottery32_placement|json }}
var lottery41_placement = {{ player.lottery41_placement|json }}
var lottery42_placement = {{ player.lottery42_placement|json }}
var lottery43_placement = {{ player.lottery43_placement|json }}

var first_choice = {{ player.first_choice|json }}
var second_choice = {{ player.second_choice|json }}
var third_choice = {{ player.third_choice|json }}
var fourth_choice = {{ player.fourth_choice|json }}

var choice_types = ['loseMoney', 'firstOrderDominance', 'secondOrderDominance', 'variableRisk']


$('#next_button_div').hide();

// Set placement of lotteries
for (i = 0; i < 4; i++) {
  if (choice_types[i] == first_choice) {
    $('#'+choice_types[i]+'Div').appendTo('#firstChoiceDiv');
  }
  if (choice_types[i] == second_choice) {
    $('#'+choice_types[i]+'Div').appendTo('#secondChoiceDiv');
  }
  if (choice_types[i] == third_choice) {
    $('#'+choice_types[i]+'Div').appendTo('#thirdChoiceDiv');
  }
  if (choice_types[i] == fourth_choice) {
    $('#'+choice_types[i]+'Div').appendTo('#fourthChoiceDiv');
  }
}

$('#loseInputA').on('change', function() {
  $('#loseMoneyRowA').css('font-weight', 'bold');
  $('#loseMoneyRowB').css('font-weight', 'normal');
  if (lottery11_placement == 1) {
    $('#restrictionChoiceLoseMoney').val('Lottery 1.1');
  }
  else if (lottery12_placement == 1) {
    $('#restrictionChoiceLoseMoney').val('Lottery 1.2')
  }
});
$('#loseInputB').on('change', function() {
  $('#loseMoneyRowB').css('font-weight', 'bold');
  $('#loseMoneyRowA').css('font-weight', 'normal');
  if (lottery11_placement == 2) {
    $('#restrictionChoiceLoseMoney').val('Lottery 1.1');
  }
  else if (lottery12_placement == 2) {
    $('#restrictionChoiceLoseMoney').val('Lottery 1.2')
  }
});
$('#loseInputNon').on('change', function() {
  $('#loseMoneyRowA').css('font-weight', 'normal');
  $('#loseMoneyRowB').css('font-weight', 'normal');
  $('#restrictionChoiceLoseMoney').val('No restriction')
});

$('#firstInputA').on('change', function() {
  $('#firstOrderDominanceRowA').css('font-weight', 'bold');
  $('#firstOrderDominanceRowB').css('font-weight', 'normal');
  if (lottery21_placement == 1) {
    $('#restrictionChoiceFirstOrderDominance').val('Lottery 2.1');
  }
  else if (lottery22_placement == 1) {
    $('#restrictionChoiceFirstOrderDominance').val('Lottery 2.2')
  }
  else if (lottery23_placement == 1) {
    $('#restrictionChoiceFirstOrderDominance').val('Lottery 2.3')
  }
});
$('#firstInputB').on('change', function() {
  $('#firstOrderDominanceRowB').css('font-weight', 'bold');
  $('#firstOrderDominanceRowA').css('font-weight', 'normal');
  if (lottery21_placement == 2) {
    $('#restrictionChoiceFirstOrderDominance').val('Lottery 2.1');
  }
  else if (lottery22_placement == 2) {
    $('#restrictionChoiceFirstOrderDominance').val('Lottery 2.2')
  }
  else if (lottery23_placement == 2) {
    $('#restrictionChoiceFirstOrderDominance').val('Lottery 2.3')
  }
});
$('#firstInputNon').on('change', function() {
  $('#firstOrderDominanceRowA').css('font-weight', 'normal');
  $('#firstOrderDominanceRowB').css('font-weight', 'normal');
  $('#restrictionChoiceFirstOrderDominance').val('No restriction');
})

$('#secondInputA').on('change', function() {
  $('#secondOrderDominanceRowA').css('font-weight', 'bold');
  $('#secondOrderDominanceRowB').css('font-weight', 'normal');
  if (lottery31_placement == 1) {
    $('#restrictionChoiceSecondOrderDominance').val('Lottery 3.1');
  }
  else if (lottery32_placement == 1) {
    $('#restrictionChoiceSecondOrderDominance').val('Lottery 3.2')
  }
});
$('#secondInputB').on('change', function() {
  $('#secondOrderDominanceRowB').css('font-weight', 'bold');
  $('#secondOrderDominanceRowA').css('font-weight', 'normal');
  if (lottery31_placement == 2) {
    $('#restrictionChoiceSecondOrderDominance').val('Lottery 3.1');
  }
  else if (lottery32_placement == 2) {
    $('#restrictionChoiceSecondOrderDominance').val('Lottery 3.2')
  }
});
$('#secondInputNon').on('change', function() {
  $('#secondOrderDominanceRowA').css('font-weight', 'normal');
  $('#secondOrderDominanceRowB').css('font-weight', 'normal');
  $('#restrictionChoiceSecondOrderDominance').val('No restriction');
})

$('#variableInputA').on('change', function() {
  $('#variableRiskRowA').css('font-weight', 'bold');
  $('#variableRiskRowB').css('font-weight', 'normal');
  if (lottery41_placement == 1) {
    $('#restrictionChoiceVariableRisk').val('Lottery 4.1');
  }
  else if (lottery42_placement == 1) {
    $('#restrictionChoiceVariableRisk').val('Lottery 4.2')
  }
  else if (lottery43_placement == 1) {
    $('#restrictionChoiceVariableRisk').val('Lottery 4.3')
  }
});
$('#variableInputB').on('change', function() {
  $('#variableRiskRowB').css('font-weight', 'bold');
  $('#variableRiskRowA').css('font-weight', 'normal');
  if (lottery41_placement == 2) {
    $('#restrictionChoiceVariableRisk').val('Lottery 4.1');
  }
  else if (lottery42_placement == 2) {
    $('#restrictionChoiceVariableRisk').val('Lottery 4.2')
  }
  else if (lottery43_placement == 2) {
    $('#restrictionChoiceVariableRisk').val('Lottery 4.3')
  }
});
$('#variableInputNon').on('change', function() {
  $('#variableRiskRowA').css('font-weight', 'normal');
  $('#variableRiskRowB').css('font-weight', 'normal');
  $('#restrictionChoiceVariableRisk').val('No restriction');
})

$('.radio_choice').on('change', function() {
  var count = 0;
  var inputList = ['#restrictionChoiceLoseMoney', '#restrictionChoiceFirstOrderDominance', '#restrictionChoiceSecondOrderDominance', '#restrictionChoiceVariableRisk']
  for (i = 0; i < 4; i++) {
    if ($(inputList[i]).val() != "") {
      count += 1;
    }
  }
  if (count == 4) {
    $('#next_button_div').show();
    $('#please_text').hide();
  }
});



</script>


{% endblock %}

{% endblock %}
