{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

  <div id="instructions_div" class="instructions well well-1g">
    <h3>Introduction</h3>
    <p>
      Thank you for participating in our experiment!<br><br>
      In the following experiment, you will have the chance to earn money through effort in a simple task, which we call the slider task. Apart from working in the slider task,
      you will make choices, which affect both yourself and other participants. There are three rounds in this experiment and you will have the chance to work on the slider task
      for 15 minutes each round.<br><br>
      Please read the following instructions carefully and make sure that you understand everything before you proceed. Similar instructions are supplied in paper on your desk. If something is
      unclear, please raise your hand to receive help from one of the lab assistants.<br><br>
    </p>

    <h3>The slider task</h3>
    <p>
      This experiment revolves around the slider task, where you can earn points by moving a slider such as the one below. The slider task is divided into 5 periods
      of equal length (3 minutes). Each period a slider will appear on the screen at a random time and you then have 30 seconds to move the slider from 0 to 50. If you complete this
      task then you will get {{ Constants.points_per_task }}. This means that you each round have 5 periods where you can earn {{ Constants.points_per_task }}. Once the slider task is completed, the screen will go back to being white
      until the next period.
    </p>
    <div id="slider_div">
      <input type='range' min='0' max='100' step='1' onkeydown='return false;' class='slider slider' id='slider'>
      <label id="value" class="value">0</label><br>
    </div>

    <p>
      The slider task earns you points, but may be boring. Each period, you will therefore be asked to choose whether you wish to continue with the task, or whether you wish to play the game of Tetris
      (the game is explained later in the instructions). This choice is shown in the picture below.
    </p>
    <img src="{% static 'effort_group_pat/choice_with_tetris.png' %}" class="picture"}>
    <p>
      If you choose to press the “Continue with the task”-button, then you simply continue with the slider task. If you instead press the “Play Tetris”-button, then you will instead
      get to play Tetris in the 3 minutes the period takes. You will not be able to complete the slider task in the period where you play Tetris, which means that playing Tetris
      costs you {{ Constants.points_per_task}} each period you choose to play.
    </p>

    <h3>The commitment choice</h3>
    <p>
      In the experiment, you will make choices that affect whether the “Play Tetris”-button will be present on the choice screen. If the button is not present, the
      screen will look like the one in the picture below.
    </p>
    <img src="{% static 'effort_group_pat/choice_without_tetris.png' %}" class="picture"}>
    <p>
      Having the “Play Tetris”-button present may be seen as an advantage if one wishes to have the possibility of substituting the task for something more interesting. On the other hand
      not having the button present may be seen as an advantage if one wishes to commit to carrying out the task.
    </p>

    <h4>Group choice and private choice</h4>
    <p>
      Each round, every participant has a 50 percent chance of being placed in a group with other participants. If you are not placed in the group, then you will simply choose whether
      you wish to have the “Play Tetris”-button present on your own screen.<br><br>
      If you are placed in the group, then you will participate in a vote, where the group decides whether to remove the button from the screen of all group members.
      This vote is done by simple majority vote and if an equal number of group members vote for and against, then the outcome will be randomly drawn. If you are placed
      in the group, then you may choose to leave the group.  If you choose to leave the group, then the button will simply be present on your screen regardless of what the group decides.
    </p>


    <h3>Points and money</h3>

    <p>
      Each completed task earns you X points and points are converted into money according to the following conversion:<br><br>
      1 point = {{ Constants.point_conversion }} DKK<br><br>
      So for each task you complete, you earn {{ Constants.points_per_task }} * 0.2 = {{ dkk }} DKK.<br><br>
    </p>

    <h3>Tetris</h3>
    The aim in the game of Tetris is to move and rotate the falling blocks to create one or more horizontal lines with ten units. If you manage to do this, then you will earn game points. Please note, that game points will not have any effect in you payoff in the experiment. You move the blocks by using the left and right arrow keys and you rotate the blocks by placing the up arrow key. Pressing the down arrow key will speed up the decent of the block. When you press the “Next button”, you will get to try the game for {{ Constants.trial_minutes }} minutes.
    <img src="{% static 'effort_group_pat/tetris.png' %}" class="picture">

    <h3>Ready to begin?</h3>
    <p>
      If you at any point during the experiment have questions, please raise your hand and a lab assistant will be there to assist you.<br><br>
      When you are confident that you understand the instructions, press the next-button and continue to the slider task trial, where you can get to know the slider task.
    </p>

    {% next_button %}

  </div>

{% block styles %}

<style type="text/css">

.picture {
  padding-top: 20px;
  padding-bottom: 60px;
  margin-left: 10%;
  width: 80%;
}
#slider_task_div {
  width: 100%;
  height: 900px;
}
#slider {
  width: 250px;
  margin-left: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=range] {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 7px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: teal;
  margin-top: -4px;
}
.value {
  font-size: 1.4em;
}


</style>

{% endblock %}

{% block script %}
<script>

$('#value').text(0);
$('#slider').val(0);
$(document).on('input', '#slider', function() {
  $('#value').text($(this).val());
});

</script>


{% endblock %}

{% endblock %}
