{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Lottery questions
{% endblock %}

{% block content %}

{% include "lotterygame/Calculator.html" %}

<p>
  Please answer the following question about the three lotteries.
</p>

<h3>Lottery 1</h3>
<p>
  {{ player.lottery1 }}
</p>
{% formfield player.lev_gamble1_evaluation with label="If you bet 1 point in this lottery, is it reasonable to expect to get on average more than 1 point back in return?" %}

<h3>Lottery 2</h3>
<p>
  {{ player.lottery2 }}
</p>
{% formfield player.lev_gamble2_evaluation with label="If you bet 1 point in this lottery, is it reasonable to expect to get on average more than 1 point back in return?" %}

    {% next_button %}

{% endblock %}
