{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Free choice
{% endblock %}

{% block content %}

{% include "lotterygame/Calculator.html" %}

<p>
  Some of you will be chosen randomly to have your payoff determined by the following unrestricted lottery
  choice.
</p>

<h3>Lottery 1</h3>
<p>
  {{ player.lottery1 }}
</p>
{% formfield player.gam_gamble_free1 with label="Please select the lottery choice restriction you prefer" %}

<h3>Lottery 2</h3>
<p>
  {{ player.lottery2 }}
</p>
{% formfield player.gam_gamble_free2 with label="Please select the gambling restriction you prefer" %}


    {% next_button %}

{% endblock %}
