{% load otree_tags staticfiles %}

<div class="instructions well well-1g">

  <h3 class="panel-sub-heading">
    Instructions and questions
  </h3>
  <p>
    This is a refresher of the instructions. Please take time to make sure, that everything is clear.
  </p>
  <p>
    You have been randomly selected to be the Orange player. This means that you will be asked to choose
    your prefered restriction on the lottery choice of your partner (the Blue player). The restriction will
    not affect your own outcome in any way, but will determin the number of point your partner will be
    allowed to bet on that lottery.
  </p>

  {% if group.treatment == "self" or group.treatment == "full" %}
    {% formfield player.feedback_control_own_score with label="Was your score above average?" %}
  {% endif %}

  {% if group.treatment == "partner" or group.treatment == "full" %}
    {% formfield player.feedback_control_partner_score with label="Was your partner's score above average?" %}
  {% endif %}

  {% if group.treatment == "self" %}
    <p>Your partner is chosen randomly among the other players.</p>
    {% formfield player.feedback_control_expected_partner with label="Will your partner on average have a higher test score than you?" %}
  {% endif %}

  {% if group.treatment == "full" %}
    {% formfield player.feedback_control_compare with label="Did you get a higher score than your partner?" %}
  {% endif %}
<div>
