{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<div id="instructions">
  <p>
    Welcome and thank you for participating in our experiment on social preferences and choice.<br>
    Please take your time to read the following instructions carefully.
  </p>
  <h4>
    <br>Introduction
  </h4>
  <p>
    The following experiment involes two parts. Part one involves a short test of your understanding of
    probabilities. Part two involves choices relating to different lotteries. Both are explained in more detail
    below.
  <h4>
    <br>The point system
  </h4>
  <p>
    This experiment will involve points. At the end of the experiment the points you have earned, will be exchanged
    into DKK (danish currency) at the exchange rate of 1 point = 4 DKK. So if you have 50 points at the end of the
    experiment, then you will recieve 200 DKK from the experimenter.
  </p>
  <h4>
    <br>The probability test
  </h4>
  <p>
    The first part of the experiment involves a test of your ability to understand and calculate
    probabilities. After the test, one random participant will be choosen to recieve 1 points for
    each correct answer. There are 20 questions in the test, so you have the potential to earn 20 points
    from the test. During the test there will be a calculator available, which can be accessed by pressing the
    <span class="btn btn-primary">Hide/show calculator</span>-button located in the bottom right corner of the screen.
    The calculator can perform addition (+), substraction (-), multiplication (*) and division (/). Exponents are done with
    double stars, so that 2**3 is 2 raised to the power of 3. The caluclator can also return factorials. This is done by
    typing fact(x) to get the factorial of x (which is commonly written as x!).
  </p>

  <h4>
    <br>The test feedback screen
  </h4>
  <p>
    After the test you will be shown a screen with information about the scores attained by different players.
    This screen will involve a representation of the distribution of scores similar to that shown in the image
    below. In the picture it is shown how many individuals got a particular score for each score from 0 to
    20. The number of persons stacked on top of each other represents the amount of persons in the
    experiment who got that excact score. In the picture below 0 players got a score of 0 to 5, 2 players
    got a score of 6, 2 players got at score of 7, 6 players got a score of 8 and so on.
  </p>

  <img src="{% static 'lotterygame/histogram_instr.png' %}"/ class="hist_img">

  <h4>
    <br>The lottery choice
  </h4>
  <p>
    The second part of the experiment involes choices over a number of lotteries. In this part you will
    be radomly paired in pairs of two. This means that you will have an equal chance of being paired with
    any other player participating in the experiment. In the pairs one will be assigned the role of 'Blue
    player' while the other is assigned the role of 'Orange player'. It is random who is assigned to which
    role.<br>
    The 'Blue player' will make choices over two lotteries and these choices will affect
    the payoff that this player recieves at the end of the experiment. The Blue player recieves an endowment
    of {{ Constants.points_per_lottery }} for each lottery, which may be placed as a bet or not.
    The 'Orange player' will recieve a fixed payoff from participating in the experiment, and will not be
    able to change this payoff. The 'Orange player' may however choose to restrict the gambling choice
    of his/her partner. The way this works is explained below.
  </p>
  <h5>
    <br>The restriction choice
  </h5>
  <p>
    By default the Blue player may choose to bet between 0 and {{ Constants.endowment }} in each lottery.
    The Orange player may however choose to restrict this in one of two ways. The Orange player may choose
    to put an upper limit in the number of that the Blue player may choose to bet or to put a lower limit
    on the number of points that the Blue player may choose to bet.<br>
    The choice to limit the choice of the Blue player is illustrated below. If the slider is set to 0,
    then the Blue player is free to bet between 0 and {{ Constants.endowment }}. If the slider is set to
    a possitive number, then this number is the lower limit on the number of points the Blue player may
    choose to bet. So if the slider is set to 5 then the Blue player may choose to bet between 5 and
    {{ Constants.endowment }}. If the slider is set to a negative number, then this number is substracted
    from the amount of points that the Blue player is allowed to bet. So if the slider is set to -5, then
    the Blue player may choose to bet between 0 and 10 - 5 = 5 points.
    <br><br><br>
    Please try to move the slider below to see how it affects the number of points that the Blue player
    may choose to bet. When you move the slider the restriction set on the partner is show below.
  </p>
  {% formfield player.lev_instr with label="Please select the gambling restriction you prefer" %}
  <p>
    The Blue player may now bet between <strong><span id="lower_limit">0</span></strong> and
    <strong><span id="upper_limit">10</span></strong> points.
  </p>
</div>

<div id="control_div" class="instructions well well-1g">
  <h2>
    Control questions
  </h2>

  <p>
    Please answer the following questions. Each question is linked to the image shown above the question.
    You must answer each question correctly in order to continue. If you cannot answer the question
    please take an extra moment to think about it. If you still are not able to proceed, put up your hand and
    an lab assistant will come by to assist you.
  </p>

  <p class="above_text">
    The Orange player sets a restriction as shown in the image below.
  </p>
  <img src="{% static 'lotterygame/control_restr1.png' %}" class="restr_img"/>
  {% formfield player.control1 with label="What is the maximum amount, that the Blue player will be able to bet?" %}
  {% formfield player.control2 with label="What is the minimum amount, that the Blue player will be able to bet?" %}

  <p class="above_text">
    The Orange player sets a restriction as shown in the image above.
  </p>
  <img src="{% static 'lotterygame/control_restr2.png' %}" class="restr_img"/>
  {% formfield player.control3 with label="What is the maximum amount, that the Blue player will be able to bet?" %}
  {% formfield player.control4 with label="What is the minimum amount, that the Blue player will be able to bet?" %}

  <p class="above_text">
    The Orange player sets a restriction as shown in the image above.
  </p>
  <img src="{% static 'lotterygame/control_restr3.png' %}" class="restr_img"/>
  {% formfield player.control5 with label="What is the maximum amount, that the Blue player will be able to bet?" %}
  {% formfield player.control6 with label="What is the minimum amount, that the Blue player will be able to bet?" %}

  <p class="above_text" class="above_text">
    Below you see a distribution of test scores.
  </p>
  <img src="{% static 'lotterygame/histogram1.png' %}" class="hist_img"/>
  {% formfield player.control7 with label="How many players got a higher score than the orange player?" %}
  {% formfield player.control8 with label="How many players got a lower score than the orange player?" %}
  {% formfield player.control9 with label="How many players got the same score as the orange player?" %}
  {% formfield player.control10 with label="The orange player's score was above average" %}


  <p class="above_text">
    Below you see a distribution of test scores.
  </p>
  <img src="{% static 'lotterygame/histogram2.png' %}" class="hist_img"/>
  {% formfield player.control11 with label="The orange player got a better score than the blue player" %}
  {% formfield player.control12 with label="The orange player got the second-worst score among all players" %}

  {% next_button %}


</div>

{% endblock %}


{% block styles %}
<style>

  .above_text {
    padding-top: 30px;
  }
  .restr_img {
    padding-bottom: 10px;
  }
  .hist_img {
    padding-bottom: 10px;
    width: 100%;
  }
  #control_div {
    margin-top: 70px;
  }
  #control_div h2 {
    margin-bottom: 50px;
  }
  #control_button {
    margin-top: 40px;
    margin-bottom: 20px;
  }

</style>
{% endblock %}


{% block scripts %}

<script>


$(document).ready(function() {

  $(window).mousemove(function() {
    if ($(".input-group-addon").html() >= 0) {
      $("#lower_limit").html(
        $(".input-group-addon").html()
      );
      $("#upper_limit").html(10);
    }
    else if ($(".input-group-addon").html() > -10) {
      $("#lower_limit").html(0);
      $("#upper_limit").html(
        10 + parseFloat($(".input-group-addon").html())
      );
    }
    else if ($(".input-group-addon").html() == -10){
      $("#lower_limit").html(0);
      $("#upper_limit").html(0);
    }
  }
  );
})



</script>
{% endblock %}
